{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans "Reset password for"%}{{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "Password Reset"%}</h1>
{% if form.errors %}
    <div class="alert alert-error">{% trans "Error while trying to reset your password"%}. {% trans "Please try again"%}.</div>
{% endif %}
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Reset password"%}</button>
</form>
{% endblock content %}