{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans "Sign up to"%}  {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "Registration"%} </h1>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <p><label for="username">{% trans "Username"%} :</label><input type="text" name="username" value="{{ request.POST.username }}">
    <p><label for="email">{% trans "Email"%} :</label><input type="email" name="email" value="{{ request.POST.email }}"></p>
    <p><label for="password1">{% trans "Password"%} :</label><input type="password" name="password1">
    <small>{% trans "minimum 8 symbols, can not be only numbers or match any part of username"%} </small>
    </p>
    <p><label for="password2">{% trans "Confirm password"%}:</label><input type="password" name="password2"></p>
    <p><button type="submit">{% trans "Sign up"%}</button></p>
</form>
{% endblock content %}
{% block style%}
.form-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.registration-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
small {
  display: block;
  margin-top: 5px;
  font-size: 12px;
}
button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #3e8e41;
}
button[type="submit"]:active {
  background-color: #005cbf;
}
button[type="submit"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
{% endblock style%}