{% extends 'base.html' %}
{% block title %}Services in {{ block.super }}{% endblock title %}
{% block content %}
  <h1>Services</h1>
    {% if services %}
      <table>
        <thead>
          <tr>
            <th>Service Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for service in services %}
            <tr>
              <td>{{ service.name }}</td>
              <td>${{ service.price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="no-services-message">There are no services yet</p>
    {% endif %}
{% endblock content %}
{% block style %}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    color: #4D455D;
    background-color: #F5E9CF;
    margin-bottom: 20px;
  }
  th, td {
    text-align: left;
    padding: 12px;
    border: 1px solid #7DB9B6;
  }
  th {
    background-color: #E96479;
    color: #F5E9CF;
  }
  tr {
    background-color: #E96479;
    color: #F5E9CF;
  }
  tr:hover {
    background-color: #7DB9B6;
    color: #4D455D;
  }
  td a {
    color: #4D455D;
    text-decoration: none;
  }
  td a:hover {
    color: #7DB9B6;
    text-decoration: underline;
  }
  td:last-child {
    text-align: center;
  }
{% endblock style %}


