{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans "Services in"%}{{ block.super }}{% endblock title %}
{% block content %}
  <h1>{% trans "Services"%}</h1>
    {% if services %}
      <table>
        <thead>
          <tr>
            <th>{% trans "Service name"%}</th>
            <th>{% trans "Price"%}</th>
          </tr>
        </thead>
        <tbody>
          {% for service in services %}
            <tr>
              <td>{{ service.name }}</td>
              <td>${{ service.price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="no-services-message">{% trans "There are no services yet"%}</p>
    {% endif %}
{% endblock content %}
{% block style %}
/* Define the color variables */
:root {
  --dark-gray: #2C3333;
  --medium-gray: #2E4F4F;
  --teal: #0E8388;
  --light-teal: #CBE4DE;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

th {
  background-color: var(--teal);
  color: var(--light-teal);
  text-align: left;
  padding: 0.5rem;
}

td {
  border: 1px solid var(--medium-gray);
  padding: 0.5rem;
}

/* Style the "no services" message */
.no-services-message {
  color: var(--dark-gray);
  font-style: italic;
}

/* Style the page header */
h1 {
  color: var(--teal);
  font-size: 2rem;
  margin-bottom: 1rem;
}

{% endblock style %}


